<%= form_for(@utwit) do |f| %>
  <% if @utwit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@utwit.errors.count, "error") %> prohibited this utwit from being saved:</h2>

      <ul>
      <% @utwit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
